@import "tailwindcss";

:root {
  --font-base: 15px;

  --chart-height: 350px;

  --base: #171717;
  --background: #ffffff;
  --foreground: #171717;
  --sidebar: #ffffff;
  --link: #1d4ed8;
  --link-hover: #1e40af;
  --scrollbar-thin: rgba(100, 100, 100, 0.4);
  --scrollbar-thin-thumb: rgba(100, 100, 100, 0.4);
  --scrollbar-thin-thumb-hover: rgba(100, 100, 100, 0.6);
  --border: rgba(225, 225, 225, 0.1);
  --primary-button-text: #171717;
  --primary-button: #ffffff;
  --primary-button-text-hover: #171717;
  --primary-button-hover: #ffffff;
}

@theme inline {
  --color-base: var(--base);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --sidebar-background: var(--sidebar);
  --font-sans: var(--font-heading);
  --font-mono: var(--font-body);
  --color-link: var(--link);
  --color-link-hover: var(--link-hover);
  --color-border: var(--border);
  --color-primary-button-text: var(--primary-button-text);
  --color-primary-button: var(--primary-button);
  --color-primary-button-text-hover: var(--primary-button-text-hover);
  --color-primary-button-hover: var(--primary-button-hover);
}

@media (prefers-color-scheme: dark) {
  :root {
    --base: #ffffff;
    --background: #0B1437;
    --foreground: #ededed;
    --sidebar: #111C44;
    --link: #ffffff;
    --link-hover: #9ca3af;
    --primary-button-text: #ffffff;
    --primary-button: #111C44;
    --primary-button-text-hover: #9ca3af;
    --primary-button-hover: #0b122c;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

.scrollbar-thin::-webkit-scrollbar {
  width: 6px;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thin-thumb);
  border-radius: 50%;
}

.scrollbar-thin:hover::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thin-thumb-hover);
}

.scrollbar-thin {
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: var(--scrollbar-thin) transparent;
}
